TANK_HOSTNAME=tank
POSTGRES_USER=groundcontrol
POSTGRES_DB=groundcontrol
POSTGRES_PASSWORD=engineson
PGDATA=/data/database
CONTROL_HOSTNAME=control
CONTROL_LOGGING_LEVEL=debug
CONTROL_RUN_INTERVAL=1200
